.button-section {
    h2 {
        margin-bottom: 55px;
    }
    .dotted-line {
        display: block;
        top: 200px;
        height: 186px;
        width: 500px;
        right: -33px;
        background-color: transparent;
        position: absolute;
    }
}