.card {
    height: 220px;
    width: 100%;
    border-radius: 10px;
    margin: 60px 0 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    p {
        font-weight: 400;
    }
    &__top {
        background-color: white;
        width: 100%;
        color: black;
        height: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        &__slogan {
            color: #00aaff;
        }
    }
    &__bot {
        background-color: black;
        width: 100%;
        color: white;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__email {
            margin: 0 0 10px 0;
        }
    }
}