.miniature-card {
    width: 161px;
    height: 117px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;

    &__top {
       background-color: white;
       height: 57px;
       border-radius: 10px 10px 0 0;
       z-index: -1;
    }

    &__bottom {
       background-color: $darkSmoke;
       width: 100%;
       height: 60px;
       border-radius: 0px 0px 10px 10px;
       flex-direction: column;
       display: flex;
       align-items: center;
       z-index: -1;

       h3 {
           font-size: 16px;
           font-weight: 500;
           font-family: 'Poppins';
           color: white;
           padding-top: 12px;
           margin: 0 auto;
       }

       p {
            font-size: 12px;
            font-weight: 300;
            font-family: 'Poppins';
            color: white;
            margin: 0 auto;
       }
    }

    &__image {
        position: absolute;
        width: 68px;
        height: 68px;
        border: 4px solid white;
        border-radius: 50%;
        z-index: 2;
        top: 0;
        left: calc(50% - 34px);
        background-color: red;
    }
}